doctype html
html.h-100(lang='en')
  head
    title Selene's 30th Birthday
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    )
    link(rel="stylesheet" href="./assets/styles/main.css")
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    )
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="./assets/javascript/main.js")
  body.d-flex.h-100.text-center
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
      main.p-5.m-5
        div.card.card-main.mx-auto.py-5
          div.card-body
            img.card-img-top.rounded-circle.mx-auto(src="./assets/images/selene.png")
            h1.title.mt-5 Selene's 30th Birthday
            p.lead This is a test description where I can put more information.
            p.lead
              button.btn.btn-lg.btn-pink.fw-bold(type="button" data-bs-toggle="modal" data-bs-target="#rsvpModal") RSVP
      footer.mt-auto

    div.modal.fade(id="rsvpModal" tabindex="-1" aria-labelledby="rsvpModalLabel" aria-hidden="true")
      div.modal-dialog.modal-dialog-centered
        div.modal-content
          div.modal-header.border-bottom-0
            h1.modal-title.fs-5(id="rsvpModalLabel" tabindex="-1" aria-labelledby="rsvpModalLabel" aria-hidden="true") RSVP to Selene's 30th Birthday
            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
          div.modal-body.text-start
            form.needs-validation
              div.row
                div.col.form-floating.mb-3
                  input.form-control.needs-validation(id="firstNameInput" type="text" name="firstName" placeholder="First Name" required)
                  label.ms-3(for="firstNameInput") First Name
                  div.invalid-feedback Please provide your first name.
                div.col.form-floating.mb-3
                  input.form-control.needs-validation(id="lastNameInput" type="text" name="lastName" placeholder="Last Name" required)
                  label.ms-3(for="lastNameInput") Last Name
                  div.invalid-feedback Please provide your last name.
              div.mb-3.form-floating
                input.form-control.needs-validation(id="phoneInput" type="tel" name="phone" placeholder="Phone" required)
                label(for="phoneInput") Phone Number
                div.invalid-feedback Please provide a valid phone number.
              div.mb-3.row
                div.col.text-end
                  input.btn-check.form-check(type="radio" name="rsvp-selection" id="attendInput" autocomplete="off" value="true" required)
                  label.btn.btn-outline-success(for="attendInput") Will Attend
                div.col.text-start
                  input.btn-check.form-check(type="radio" name="rsvp-selection" id="notAttendInput" autocomplete="off" value="false" required)
                  label.btn.btn-outline-danger(for="notAttendInput") Will Not Attend
                  div.invalid-feedback Please select one of the options.
          div.modal-footer.border-top-0.text-end
            button.btn.btn-secondary(type="button" onclick="submitRSVP()") Submit

    div.toast-container.position-fixed.top-0.end-0.p-3
      div.toast.align-items-center.border-0(role="alert" id="toast" aria-live="assertive" aria-atomic="true")
        div.d-flex
          div.toast-body This is a toast!
          button.btn-close.me-2.m-auto.btn-close-white(type="button" data-bs-dismiss="toast" aria-label="Close")
